.bg-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(245,248,250,1) 0%, rgba(245,248,250,1) 160px, rgba(255,255,255,1) 160px, rgba(255,255,255,1) 100%);
}

.bg-gradient-2 {
    background: rgb(245,248,250);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(245,248,250,1) 35%, rgba(245,248,250,1) 100%);
}