.navbar {
    .nav-item {
        .nav-link {
            color: $light_black;
            &:hover {
                color: $orange;
            }
        }
        &.active {
            .nav-link {
                color: $orange;
                border-bottom: 1px solid $orange;
            }
        }
    }
}