<% var footerTitle = footerTitle
    ? footerTitle
    : 'Footer Title'
%>

<% var footerDescription = footerDescription
    ? footerDescription
    : 'Footer Description'  %>

<footer class="bg-light_black mt--100">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="pt-82 pr-671">
                <a href="/">
                  <img src="src/images/svg/Logo-footer.svg" alt="Logo">
                </a>
              </div>
              <div>
                <h5>Geschäftsführer</h5>
                <p>Beratender Ingenieur Dipl.-Ing. Klaus Weiss</p>
              </div>
              <div>
                <h5>Adresse</h5>
                <p>Straßenname 7 12345 Stadt</p>
              </div>
        </div>
        <div class="d-flex">
            <p>Impressum</p>
            <p>Datenschutz</p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>

</body>

</html>