<% var footerTitle = footerTitle
    ? footerTitle
    : 'Footer Title'
%>

<% var footerDescription = footerDescription
    ? footerDescription
    : 'Footer Description'  %>

<footer class="bg-light-black mt--100">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="pt-82">
                <a href="/">
                  <img src="src/images/svg/Logo-footer.svg" alt="Logo">
                </a>
              </div>
              <div class="d-flex">
                <div>
                  <h5 class="text-xs text-uppercase text-white ls-01 pt-64">Geschäftsführer</h5>
                  <p class="text-sm text-white">Beratender Ingenieur <br> Dipl.-Ing. Klaus Weiss</p>
                </div>
                <div class="ml-144">
                  <h5 class="text-xs text-uppercase text-white ls-01 pt-64">Adresse</h5>
                  <p class="text-sm text-white">Straßenname 7 <br> 12345 Stadt</p>
                </div>
              </div>
        </div>
        <hr class="mt-64 mb-40">
        </hr>
        <div class="bottom-link pb-40">
            <a href="/" class="text-xs text-normal-gray">Impressum</a>
            <a href="/" class="text-xs text-normal-gray">Datenschutz</a>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>

</body>

</html>