<% var footerTitle = footerTitle
    ? footerTitle
    : 'Footer Title'
%>

<% var footerDescription = footerDescription
    ? footerDescription
    : 'Footer Description'  %>

<footer class="bg-light_black mt--100">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="pt-82 pr-671">
                <a href="/">
                  <img src="src/images/svg/Logo-footer.svg" alt="Logo">
                </a>
              </div>
              <div>
                <h5 class="text-xs text-uppercase text-white ls-01 pt-64">Geschäftsführer</h5>
                <p class="text-sm text-white">Beratender Ingenieur Dipl.-Ing. Klaus Weiss</p>
              </div>
              <div>
                <h5 class="text-xs text-uppercase text-white ls-01 pt-64">Adresse</h5>
                <p class="text-sm text-white">Straßenname 7 12345 Stadt</p>
              </div>
        </div>
        <hr class="mt-64 mb-40">

        </hr>
        <div class="d-flex">
            <p class="text-xs text-normal-gray">Impressum</p>
            <div class="border-right">

            </div>
            <p class="text-xs text-normal-gray">Datenschutz</p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>

</body>

</html>