@font-face {
    src: url("../fonts/DINPro/DINPro-Bold.eot");
    src:
      local("DINPro-Bold"),
      local("DINPro-Bold"),
      url("../fonts/DINPro/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/DINPro/DINPro-Bold.woff") format("woff"),
      url("../fonts/DINPro/DINPro-Bold.ttf") format("truetype");
    font-family: "DINPro-Bold";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

//   @font-face {
//     src: url(“../fonts/DINPro/DinPro-Bold.eot”);
//     src:
//       local(“DinPro-Bold”),
//       url(“../fonts/DINPro/DinPro-Bold.eot?#iefix”) format(“embedded-opentype”),
//       url(“../fonts/DINPro/DinPro-Bold.woff”) format(“woff”),
//       url(“../fonts/DINPro/DinPro-Bold.ttf”) format(“truetype”);
//     font-family: "DINPro-Medium";
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
//   }

//   @font-face {
//     src: url(“../fonts/DINPro/DinPro-Bold.eot”);
//     src:
//       local(“DinPro-Bold”),
//       url(“../fonts/DINPro/DinPro-Bold.eot?#iefix”) format(“embedded-opentype”),
//       url(“../fonts/DINPro/DinPro-Bold.woff”) format(“woff”),
//       url(“../fonts/DINPro/DinPro-Bold.ttf”) format(“truetype”);
//     font-family: "DINPro-Light";
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
//   }