h1 {
  line-height: 1.33;
}

h2, .h2 {
  line-height: calc-rem(45px);
}

h3 {
  line-height: calc-rem(44px);
}

h4, .h4 {
  line-height: calc-rem(30px);
}

h5 {
  line-height: 1.78;
}

.box-shadow {
  -webkit-box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
  -moz-box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
  box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
}

.ls-01 {
  letter-spacing: 0.1em;
}

.text-xs {
  font-size: $font-size-xs;
  line-height: calc-rem(20px);
  color: #929A9F;
}

.text-sm {
  font-size: $font-size-sm;
  line-height: calc-rem(28px);
  color: #929A9F;
}

.text-lg {
  font-size: $font-size-lg;
  line-height: calc-rem(30px);
  color: #263640;
}

.font-size-xxl {
  font-size: $font-size-xxl;
  line-height: calc-rem(44px);
  color: #263640;
}

.image-section-3 {
  position: absolute;
  width: 488px;
  height: 662px;
  left: 660px;
  top: 98px;
}

.img-section-5 {
  img {
    position: relative;
    top: -160px;
    right: 0;
  }
}

.mt--100 {
  margin-top: -100px
}


@import "components/navbar";
@import "components/icons";
@import "components/bg";
@import "components/topbar";
