h1 {
  line-height: 1.33;
}

h2 {
  line-height: 1.55;
}

h3 {
  line-height: 1.5;
}

h4, .h4 {
  line-height: 1.25;
}

h5 {
  line-height: 1.78;
}

.box-shadow {
  -webkit-box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
  -moz-box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
  box-shadow: -50px 90px 0px 0px rgba(245,248,250,1);
}


@import "components/navbar";
@import "components/icons";
@import "components/bg";
@import "components/topbar";
